In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\abc\Downloads\prices-split-adjusted.csv")

In [3]:
df.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

In [5]:
df.drop("symbol",axis = 1,inplace = True)

In [6]:
df.describe()

,open,close,low,high,volume
count,851264.000000,851264.000000,851264.000000,851264.000000,8.512640e+05
mean,64.993618,65.011913,64.336541,65.639748,5.415113e+06
std,75.203893,75.201216,74.459518,75.906861,1.249468e+07
min,1.660000,1.590000,1.500000,1.810000,0.000000e+00
25%,31.270000,31.292776,30.940001,31.620001,1.221500e+06
50%,48.459999,48.480000,47.970001,48.959999,2.476250e+06
75%,75.120003,75.139999,74.400002,75.849998,5.222500e+06
max,1584.439941,1578.130005,1549.939941,1600.930054,8.596434e+08

In [7]:
df["date"] = df["date"].apply(lambda x: str(x).replace("-","") if "-" in str(x) else str(x))
df["date"] = df["date"].apply(lambda x: int(x))

In [8]:
df.dtypes

date        int64
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

In [9]:
df.head()

       date        open       close         low        high     volume
0  20160105  123.430000  125.839996  122.309998  126.250000  2163600.0
1  20160106  125.239998  119.980003  119.940002  125.540001  2386400.0
2  20160107  116.379997  114.949997  114.930000  119.739998  2489500.0
3  20160108  115.480003  116.620003  113.500000  117.440002  2006300.0
4  20160111  117.010002  114.970001  114.089996  117.330002  1408600.0

In [10]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [11]:
x = df.drop("volume",axis = 1)
y = df[["volume"]]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=106)
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
model.coef_

array([[-3.04291036e+01,  2.24412586e+04, -6.74350668e+04,
        -6.54078729e+05,  6.66117512e+05]])

In [13]:
model.intercept_

array([6.19265431e+08])

In [14]:
pred = model.predict(x_test)

In [15]:
from sklearn import metrics


print('MAE:', metrics.mean_absolute_error(y_test, pred))
print('MSE:', metrics.mean_squared_error(y_test, pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, pred)))

MAE: 4938772.66024679
MSE: 153016155687246.25
RMSE: 12369969.914565122